/tmp
/log
*.DS_Store

*~
\#*
.#*

/coverage
/public/en
/public/ru
/public/pt
/.sass-cache
/config/initializers/setup_email.rb
/config/initializers/s3.rb
/config/initializers/recaptcha.rb
/config/mongoid.yml
/config/initializers/secret_token.rb

/vendor
/data

*.trash
/spec/models

/vendor/ruby
/vendor/bundle
